html {
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after, *:focus {
    box-sizing: inherit;
    outline: none !important;
}

body {
    font-family: 'Open+Sans';
    background: #f1f1f1;
}

header {
    width: 100%;
    height: 1080px;
    background: url('../images/header.jpg') no-repeat;
    background-size: cover;
    .indent();
    padding-top: 0;
    padding-bottom: 0;
    @media @notebook {
        height: 768px;
        padding-top: 0;
        padding-bottom: 0;
    }
    @media @mobile {
        background: url('../images/header_mobile.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        height: 568px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

#content {
    .indent();
    & h1 {
        font: 26px 'Open+SansBold';
        text-align: center;
        margin: 50px 0;
        padding: 0 50px;
        
        @media @notebook {
            padding: 0 20px;
            font-size: 24px;
            margin: 40px 0;
        }
        @media @mobile {
            padding: 0 15px;
            font-size: 20px;
            margin: 10px 0;
        }
    }
    
    & h2 {
        font: 24px 'Open+SansBold';
        text-align: center;
        margin: 40px 0;
        @media @notebook {
            font-size: 22px;
            margin: 30px 0;
        }
        @media @mobile {
            font-size: 18px;
            margin: 10px 0;
        }
    }
    
    & h3 {
        font: 22px 'Open+SansBold';
        text-align: center;
        margin: 30px 0;
        @media @notebook {
            font-size: 20px;
            margin: 20px 0;
        }
        @media @mobile {
            font-size: 16px;
            margin: 10px 0;
        }
    }

    & p {
        text-align: justify;
    }
}

footer {
    color: white;
    background: #0D181B;
    .indent();
    padding-top: 50px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

label {
    margin-top: 15px;
    display: block;
    font-size: 1rem;
    position: relative;
    bottom: -5px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 250px;
    display: block;
    font-size: 1rem;
    padding-left: 10px;
    color: black;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed black;
}

textarea {
    width: 250px;
    height: 100px;
    display: block;
    font-size: 1rem;
    padding: 10px 20px;
    color: black;
    background: transparent;
    border: 1px dashed black;
}

input[type="file"] {
    font-size: 1rem;
    background: transparent;
}

input[type="submit"] {
    width: 110px;
    height: 40px;
    display: block;
    margin: 20px 0 0 0 !important;
    font-size: 1.25rem;
    background: #39B54A;
    width: 250px;
    height: 40px;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 1.5px;
}